.about__info{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 18px;

}

.about__info h1{
    font-size: 52px;    
    font-weight: 600;
    margin-bottom: 10px;
}
.about__info span{
    width: 70px;
    height: 12px;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: var(--orange-yellow-crayola);
}
.about__info p{
    font-size: 18px;    
    line-height: 28px;
    color: var(--light-gray);
    margin-bottom: 15px;
}
.about__doing{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    margin-left: 18px;
    margin-bottom: 60px;
    margin-top: 20px;
}
.about__doing h3{
    font-size: 26px;    
    font-weight: 600;
}
.doing__cards{
    display: flex;
    align-items: center;
    gap: 40px;
}
.doing__card{
    padding: 20px;
    box-shadow: var(--shadow-1);
    border-radius: 14px;
    display: flex;
    width: 515px;
    gap: 20px;
    align-items: start;    
    height: 150px;
    
    /* border: 2px solid var(--jet); */
    background: var(--border-gradient-onyx);
    z-index: 1;
}
.one{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.two{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* margin-top: 10px; */
}
.doing__card h5{
    font-size: 20px;
    font-weight: 600;
}
.doing__card img {
    width: 60px;
    height: 60px;
}
.doing__card p{
    font-style: 8px;
    color: var(--light-gray);
    font-weight: 300;
    width: 200px;
}
.swiper {
  width: 1100px;
  height: 200px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--eerie-black-1);

  /* Center slide text vertically */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 15px;
}
.swiper-slide div{
    display: flex;gap: 20px;
}
/* 
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.test h1{
    font-size: 22px;
    font-weight: 600;       
    margin-left: 48px;
    margin-bottom: 20px;

}
.test__card{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 20px;
    width: 550px;
    background: var(--border-gradient-onyx);
    border-radius: 14px;
    border: 1px solid var(--jet);
    height: 170px;
    z-index: 3;
    box-shadow: var(--shadow-1);
    
}
.card__info{
    display: flex;
    /* position: relative; */
    /* align-items: center; */
    /* justify-content: start; */
    flex-direction: column;
    z-index: 1;
    /* top: -0px; */
}

.test__img {
    width: 120px;
    height: 120px;
    margin-left: 20px;
    z-index: -10;
    /* background-color: var(--jet); */
}
.test__img img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    z-index: -10    ;
}
.card__info h1{
    font-size: 24px;
    margin-bottom: -10px;
    margin-left: -80px;
    font-weight: 600;
    
}
.test__card p{
    font-size: 14px;
    max-width: 380px;
    color: var(--light-gray);
    max-width: 250px;
    justify-content: start;
    /* text-align: center; */
}
.swiper__imgs img{
    width: 250px;
    background-color: transparent;
    overflow: hidden;
    height: 250px;
}

.clients{
    margin-top: 100px;
}
.clients h1{
    margin-left: 30px;
}
/* skills */
.skills{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 100px 30px;
}
.skills h1{
    
    margin-bottom: 10px;
}
.skill__content{
    background: var(--border-gradient-onyx);
    border-radius: 14px;
    border: 1px solid var(--jet);
    padding:53px;
    display: flex;
    width: 1050px;
    flex-direction: column;
    gap: 27px;
    box-shadow: var(--shadow-1);
    
}
.skill__content h3{
    font-size: 20px;
    font-weight: 600;
}
.uno{
    display: flex;
    align-items: start;
    gap: 10px;
}
.uno p{
    margin-top: -5px;
}

.skill__content span{
    width: 70px;
    display: block;
    height: 12px;
    border-radius: 4px;
    background-color: var(--orange-yellow-crayola);
    margin-bottom: 20px;
}
.html .uno span{
    width: 800px;
    /* background-color: var(--orange-yellow-crayola); */
}
.css .uno span{
    width: 600px;
    /* background-color: var(--orange-yellow-crayola); */
}
.github .uno span{
    width: 600px;
    /* background-color: var(--orange-yellow-crayola); */
}
.js .uno span{
    width: 480px;
    /* background-color: var(--orange-yellow-crayola); */
}
.react .uno span{
    width: 400px;
    /* background-color: var(--orange-yellow-crayola); */
}
.figma .uno span{
    width: 520px;
    /* background-color: var(--orange-yellow-crayola); */
}
.typescript .uno span{
    width: 280px;
    /* background-color: var(--orange-yellow-crayola); */
}
.bootstrap .uno span{
    width: 520px;
    /* background-color: var(--orange-yellow-crayola); */
}
@media (max-width: 468px){
    .doing__cards{
        flex-direction: column;
        align-items: center;
        justify-content: center;    
        gap: 80px;
        margin-top: 30px;
    }
    .one, .two{
        gap: 80px;
    }
    
    .doing__card{
        width: 700px;
        height: 300px;
        border-radius: 50px;
        margin-left: 30px;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    .doing__card
    img {
            width: 100%;
            max-width: 100px;
            height: 100%;
            max-height: 100px;
        }
        .doing__card h5{
        text-align: center;
        font-size: 33px;
    }
    .doing__card p{
        width: 450px;
        font-size: 30px;
        text-align: center;
    }

    .skill__content{
        width: 90%;
        margin-left: 45px;
    }
    .about__info p{
        max-width: 800px;
    }
    .swiper {
        width: 90%;
        height: 200px;
      }
      
}