aside {
    /* width: 230px;    */
    /* height: 600px; */
    position: sticky;
    left: 20px;
    border: 1px solid var(--jet);
    top: 60px;
    /* position: fixed; */
    /* max-height: max-content; */
    margin-right: -220px;
    margin-top: 20px;
    /* padding-left: 10px; */
    flex: 0 0 250px;
    /* transform: translateY(-50%); */
    border-radius: 32px;
    background-color: var(--eerie-black-1);
    padding: 75px;
    /* padding-right: 30px; */
    margin-left: 20px;
    /* width: 100vh; */
    padding-bottom: 250px;

    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
/* aside::-webkit-scrollbar {
    display: none;  
} */
.aside__img {
    width: 200px;
    height: 200px;
    border-radius: 32px;
    margin-top: 20px;
    /* margin-left: 30px; */
    background-color: var(--jet);
}
.aside__img img{
    width: 200px;
    height: 200px;
    border-radius: 32px;
}
.aside__info {
    text-align: center;
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--jet);
}
.aside__info h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    text-align: center;
}
.aside__info p {
    font-size: 0.9rem;
    color: var(--light-gray);
    border-radius: 10px;
    padding: 3px ;
    width: 150px;
    text-align: center;
    /* margin-left: 24px; */
    background-color: var(--jet);
}
.social__imgs {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 15px;
    /* background-color: var(--jet); */
    margin-top: 20px;
}
.pos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
}
.img1 {
    border: 1px solid var(--jet);
    background-color: var(--border-gradient-onyx);
    align-items: start;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    gap: 55px;
    border-radius: 8px;
}
.img1  img {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: 10px;
}
.img2  img {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: -25px;
}
.img3  img {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: -25px;
}
.img4  img {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: -25px;
}
.img1 p {
    margin-left: -20px;
    font-size: 1.1rem;
    color: var(--light-gray);
}
.img2 p {
    margin-left: 10px;
    font-size: 1.1rem;
    color: var(--light-gray);
}
.img3 p {
    margin-left: 10px;
    font-size: 1.1rem;
    color: var(--light-gray);
}
.img4 p {
    margin-left: 10px;
    font-size: 1.1rem;
    color: var(--light-gray);
}
.img2 {
    border: 1px solid var(--jet);
    background-color: var(--border-gradient-onyx);
    align-items: start;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    gap: 55px;
    display: flex;

    cursor: pointer;
    /* background-color: var(--jet); */
    border-radius: 8px;
}
.img3 {
    border: 1px solid var(--jet);
    background-color: var(--border-gradient-onyx);
    align-items: start;
    width: 60px;
    gap: 55px;
    height: 60px;
    display: flex;
    margin-left: 20px;
    cursor: pointer;
    /* background-color: var(--jet); */
    border-radius: 8px;
}
.img4 {
    border: 1px solid var(--jet);
    background-color: var(--border-gradient-onyx);
    align-items: start;
    width: 60px;
    height: 60px;
    gap: 55px;
    margin-left: 20px;
    display: flex;
    cursor: pointer;
    /* background-color: var(--jet); */
    border-radius: 8px;
}
.dos a{
    margin-left: -20px;
    font-size: 1.1rem;
    color: var(--light-gray);
}
.doss a{
    margin-left: 10px;
    font-size: 1.1rem;
    color: var(--light-gray);
}
.cv{
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
}
.cv button{
    padding: 15px 40px;
    background: var(--border-gradient-onyx);
    border-radius: 14px;
    border: 1px solid var(--jet);
    color: var(--orange-yellow-crayola);
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}
.cv button:hover{
    cursor: pointer;
    transform: scale(1.05);
    filter: drop-shadow(2px 2px 10px var(--orange-yellow-crayola));
}
.cv button:active{
    transform: scale(0.9);
}
.soc{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    top: 130px;
    left: 31px;
}
.soc a img{
    /* width: 32px;
    height: 32px; */
    transition: all 0.3s ease-in-out;
}
.soc a img:hover{
    transform: scale(1.2);
    filter: drop-shadow(2px 2px 20px var(--orange-yellow-crayola));
}
.burger{
    display: none;
}

@media (max-width: 768px) {
    aside {
        margin-right: 0;
        flex: 0 0 280px;
        position: sticky;
        top: 60px;
        height: fit-content;
        padding: 50px;
    }
}

@media (max-width: 468px) {
    .aside{
        /* position: fixed */
        position: relative;
        /* margin-top: 100px; */
        left: 220px;
        width: 800px;
        margin: 0;
        padding: 20px;
        background-color: var(--eerie-black-1);
        border-radius: 32px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        gap: 20px;
        /* margin-right: 160px; */
        display: flex;
        flex-direction: column;  
        align-items: center;
    }
    .aside__social{
        display: none;
    }
   
    .pre{
        display: flex;
        margin-left: -350px;
        gap: 40px;
    }
    .burger{
        display: block;
        position: absolute;
        top: 0px;
        /* margin-right: 100px; */
        right: 0px;
    }
    .burger button{
        width: 50px;
        height: 50px;
        background-color: var(--jet);
        border: 1px solid var(--border-gradient-onyx);
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .burger button::before,
    .burger button::after,
    .burger button span {
        content: '';
        display: block;
        width: 25px;
        height: 3px;
        background-color: var(--orange-yellow-crayola);
        margin: 3px 0;
        transition: all 0.3s ease;
    }
    .aside.open .burger button::before {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .aside.open .burger button span {
        opacity: 0;
    }
    .aside.open .burger button::after {
        transform: rotate(-45deg) translate(7px, -6px);
    }
    .cv{
        position: relative;
        /* display: none; */
        top: 60px;
        left: -160px;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        margin-top: 20px;
    }
    .soc{
        position: relative;
        top: 0px;
        display: none;
        left: 180px;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        /* margin-top: 20px; */
    }

    .aside__social{
        display: none;
        opacity: 0;
        /* transform: translateY(-20px); */
        transition: opacity 0.3s ease, transform 0.3s ease;
        margin-top: 20px;
    }
    .social__imgs{
        display: flex;
        align-items: start;
        gap: 250px;
        margin-right: 140px;
        flex-direction: row;

    }
    .cv.show,
    .soc.show,
    .aside__social.show {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }
}
